<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <table class="table table-bordered bg-white">
            <thead>
                <th>Tên sản phẩm</th>
                <th>Hình ảnh</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="x in cartArray ">
                    <td>{{x.name}}</td>
                    <td><img src="./image/product/{{x.image}}" style="width: 100px;" alt=""></td>
                    <td>{{x.newPrice | number}}đ</td>
                    <td><button class="btn btn-primary" ng-click="DecreaseQuantity($index)">-</button> {{x.quantity}} <button class="btn btn-primary" ng-click="increaseQuantity($index)">+</button></td>
                    <td>{{x.newPrice*x.quantity | number}}</td>
                    <td><button class="btn btn-primary" ng-click="delete($index)">Xóa</button></td>
                </tr>
                <tr>
                    <td colspan="4">Tổng tiền: </td>
                    <td colspan="2">{{sumMoney | number}}đ</td>
                </tr>
            </tbody>
        </table>
        
    </div>
    
</body>
</html>